meta(name="p:domain_verify", content="f9bd9eb7a172526db7b829584ec97121")    
meta(name="description", content="#{Description}")
//-Twitter Card data
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@larshoie")
meta(name="twitter:title" content="#{Title}")
meta(name="twitter:description" content="#{Description}")
meta(name="twitter:creator" content="@larshoie")
//-Twitter Summary card images must be at least 120x120px
meta(name="twitter:image" content="  ")
//-Open Graph data
meta(property="og:title" content="#{Title}")
meta(property="og:type" content="article")
meta(property="og:url" content="http://larshoie.com")
meta(property="og:image" content="  ")
meta(property="og:description" content="#{Description}")
meta(property="og:site_name" content="Lars Høie")
//-meta(property="fb:admins" content="Facebook numeric ID")
